    .my-work  {
      background: url(https://raw.githubusercontent.com/matienatov/matienatov.github.io/master/images/Matie_Natov_UX.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#FFF;
      background-color:#444444;
    }
  .filter {
      display: inline;
      background: #f8f9fa;
      text-align: center;
      padding: 7px 20px;
      margin: 0px 8px 0px 0px;
      border-radius: 4px;
  }
  .filter_picked {
      display: inline;
      background: #007bff;
      text-align: center;
      padding: 7px 20px;
      margin: 0px 8px 0px 0px;
      border-radius: 4px;
      color: #FFF;
  }
  h5.filter_title {
      display: inline;
      margin: 0px 13px 0px 0px;
  }

  /* fluid 5 columns */
  .grid-sizer,
  .grid-item { width: 33%; }


